<html> 
	<head>
		<title>Featured Graphic</title>
		<link href="style.css" rel="stylesheet">
	</head>
	     <body>
	     	<div id="header">
	     		<div id="logo"><img src="img/meegologo.jpg"></div>
	     		<div id="menu">
	     			<ul>
	     				<li><a href="index.html">Home </li>
	     				<li><a href="about.html">About</li>
	     				<li><a href="contact.html"> Contact</li>
	     			</ul></a>
	     		</div>
	     			<div class="clear"></div>
	     	</div>
	     	<div class="container">

	     	<img src="img/meego.jpg" style="width:100%">
	     	 <div class="top-left">Meego Enriquez</div>
	     	 <div class="information">Hi! I'm a Junior Developer. I focus on improving lives with mobile applications that will help the majority.</br>

When I was young, I was always looking for loopholes or easier ways to do a certain task. Innovation is my key when ideas come to mind. I make my way through the industry one project at a time.
<br/>

Expect the best from me and I will deliver. Let's build. </div>
	     	<div id="featured">
	     	</div>
	     	<div id="footer">
	     		<div id="address">Meego Enriquez</div>
	     		<div id="copyright">&copy; 2018. All rights reserved.</div>
	     	</div>

	     </body>
</html>