@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	margin:0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
/* For fonts */

.clear{
	clear:both;
}
/* clear for border */

body{
	padding: 20px;
	background-color: #ffffff;
}

#header {
	margin : 10px ;
	padding:30px;
	border-bottom: 0px solid #000000;
}
#logo{
	font-size:40px;
}
#logo img{
	height:60px;
	width: auto;
   padding-right:10px;
   
}
#logo, #menu{
	float:left;
	width:50%;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.top-left {
    position: absolute;
    top: 200px;
    left:230px;
    font-size:80px;
    text-shadow: 5px 2px 6px #5C5C5C;

}

.information {
    position: absolute;
    top:300px;
    left: 40px;
    font-size:15px;
    width:50%;
    text-shadow: 5px 2px 6px #5C5C5C;


}
#menu {
text-align:right;
}

#menu ul {
	list-style: none;
	display: inline-block;
}
/*inline block inorder to put the menu with an existing border*/
#menu l li{ 
	float:left;
}
#menu ul li{
	display: inline-block;
}
#menu ul li a{
	text-decoration: none;
	color: #000000;
	padding: 20px;
	font-size: 30px;
}
#menu ul li a:hover{
	text-decoration: none;
	background-color: #B0ADA1;
	color: #D8A90B;
	padding: 20px;
	font-size: 30px;
-webkit-transition: background  1s ease-in-out;
-moz-transition: background  1s ease-in-out;
-ms-transition: background  1s ease-in-out;
-o-transition: background  1s ease-in-out;
transition: background 1s ease-in-out;}

/* For menu spacing */
#address {
	float:left;
	color:#000000;
	
}

#copyright { 
float:right; 
color:#000000;
}
#footer {
	margin-top: 1%;
}

/* For responsive web design */
@media (max-width: 767px) {



}

@media (max-width: 480px) {
	.information {
    position: absolute;
    top:300px;
    left: 40px;
    font-size:5px;
    width:50%;
    text-shadow: 5px 2px 6px #5C5C5C;}

 	   .top-left {
    position: absolute;
    top: 200px;
    left:230px;
    font-size:40px;
    text-shadow: 5px 2px 6px #5C5C5C;

}	
}