<html> 
	<head>
		<title>Locked Sidebar</title>
		<link href="style.css" rel="stylesheet">
	</head>
	     <body>
	     	<div class="sidenav">
	     		<div id="logo"><img src="img/meegologo.jpg"></div>
	     		
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>

	     	<div id="header">
	     		</div>
	     			<div class="clear"></div>
	     	</div>
	     	<div id="hero"><img src="img/meego.jpg"></div>
	     	<div id="featured">
	     		<div class="featured-image first">Want to piss on him? Those guys are inside you building a piece of shit Ethan! They're inside you building a monument to compromise! Fuck them, fuck those people, fuck this whole thing Ethan. Puh rum pum pow! And there's no evidence that a Latino student did it.</div>
	     		<div class="featured-image second">f I've learned one thing, it's that before you get anywhere in life, you gotta stop listening to yourself. I'm a bit of a stickler Meeseeks, what about your short game? I'm sorry, Morty, it's a bummer. In reality, you're as dumb as they come. And I needed those seeds real bad, and I had to give them up just to get your parents off my back. So now we're gonna have to go get more. And then we're gonna go on even more adventures after that, Morty. And you're gonna keep your mouth shut about it, Morty. </div>
	     		<div class="featured-image third">Because the world is full of idiots that don't understand what's important. And they'll tear us apart, Morty. But if you stick with me, I'm gonna accomplish great things, Morty. And you're gonna be part of them. And together, we're gonna run around, Morty. We're gonna- do all kinds of wonderful things, Morty. Just you and me, Morty.  </div>
	     		<div class="featured-image fourth">The outside world is our enemy, Morty. We're the only friends we've got, Morty. It's just Rick and Morty. Rick and Morty and their adventures, Morty. Rick and Morty forever and forever. 100 years, Rick and Morty's things. Me and Rick and Morty running around, and Rick and Morty time. All day long forever. All a hundred days. Rick and Morty forever a hundred times. Over and over, rickandmortyadventures.com. www.rickandmorty.com. www.rickandmortyadventures. All 100 years every minute, rickandmorty.com. www.100timesrickandmorty.com. He threatened to turn me in to the government, so I made him and the government go away!

</div>
	     	</div>
	     	<div id="footer">
	     		<div id="address">Meego Enriquez </div>
	     		<div id="copyright">&copy; 2018. All rights reserved.</div>
	     	</div>

	     </body>
</html>