@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
	margin:0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
/* For fonts */

.clear{
	clear:both;
}
/* clear for border */

body{
	padding: 20px;
	background-color: #ffffff;
	margin-left:160px;
}
#logo img{
	height:40px;
	width: auto;
	border-right:1px solid #000000;
   padding-right:10px;
}
/* For menu spacing */

#hero {
	width:100%
	margin:10px 0;
}
#hero img{
	width:100%;
	height:auto;
	padding-bottom:10px;
}
.featured-image {
	float:left;
	width:23%;
	margin: 0 1% 0 0;
	border-right: 1px solid;

}
.featured-image.second{
	margin: 0 1% 0 0;
}
.featured-image.third{
	margin: 0 0 0 1%;

}

.featured-image.fourth{
	margin: 0 0 0 1%;

}


.featured-image img{
	height: auto;
	width:100%;
}

#footer {
	margin:20% 0 0 0;
	border-top:1px solid #000000;
	font-size:20px;
	list-style: none;
	color:#000000;


}
#address {
	float:left;
}

#copyright { 
float:right; 
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #FFFFFF; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #D8A90B;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/* FIXING LOGO */
#logo img{
	height:60px;
	width: auto;
	border-right:1px solid #000000;
   padding-right:10px;
}