<html> 
	<head>
		<title>Five Boxes</title>
		<link href="style.css" rel="stylesheet">
	</head>
	     <body>
	     	<div id="header">
	     		<div id="logo"><img src="img/meegologo.jpg"></div>
	     		<div id="menu">
	     			<ul>
	     				<li><a href="index.html">Home </li>
	     				<li><a href="about.html">About</li>
	     				<li><a href="contact.html"> Contact</li>
	     			</ul></a>
	     		</div>
	     			<div class="clear"></div>
	     	</div>
	     	<div id="hero"><img src="img/baguio.jpg"></div>
	     	<div id="featured">
	     		<div class="featured-image first"><img src="img/baguio1.jpg"></div>
	     		<div class="featured-image second"><img src="img/baguio2.jpg"></div>
	     		<div class="featured-image third"><img src="img/baguio3.jpg"></div>
	     		<div class="featured-image fourth"><img src="img/baguio4.jpg"></div>
	     	</div>
	     	<div id="footer">
	     		<div id="address">Meego Enriquez </div>
	     		<div id="copyright">&copy; 2018. All rights reserved.</div>
	     	</div>

	     </body>
</html>