<html> 
	<head>
		<title>Three Boxes</title>
		<link href="style.css" rel="stylesheet">
	</head>
	     <body>
	     	<div id="header">
	     		<div id="logo"><img src="img/logo.jpg">Hungry Bites</div>
	     		<div id="menu">
	     			<ul>
	     				<li><a href="index.html">Home </li>
	     				<li><a href="about.html">About</li>
	     				<li><a href="contact.html"> Contact</li>
	     			</ul>
	     		</div>
	     			<div class="clear"></div>
	     	</div>
	     	<div id="hero"><img src="img/hero.jpg"></div>
	     	<div id="featured">
	     		<div class="featured-image first"><img src="img/hero.jpg"></div>
	     		<div class="featured-image last"><img src="img/hero.jpg"></div>
	     	</div>
	     	<div id="footer">
	     		<div id="address">Calle Uno Food Hub</div>
	     		<div id="copyright">&copy; 2018</div>
	     	</div>

	     </body>
</html>